<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome To Used Phones Store</h1>
    <p>Here you can browse, buy, and sell used phones easily. Create an account to start selling or explore our collection of used phones.</p>
    <a href="/auth/sign-in">Sign in</a>
    <a href="/auth/sign-up">Sign up</a>
</body>
</html>